
 @import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&family=Jost:wght@700&family=Work+Sans:wght@300;400;600;700;800;900&display=swap');

*{

    margin: 0;
    border: 0;
    padding: 0;
    text-decoration: none;
    outline: none;
    list-style: none;
    box-sizing:border-box;
}
body{
    font-family: 'Work-Sans', sans-serif;
}

 .welcome{
    font-family: 'Jost', sans-serif;
}
.form_text{
    color:#747474
}
.container{
    -ms-overflow-style: none;
    scrollbar-width: none;  
}
.container::-webkit-scrollbar {
    display: none;
}
.exclusive{
    min-height: 300px
}

.headerSwiper .swiper-pagination-vertical .swiper-pagination-bullet  {
    color: white;
    transform: rotateY(180deg) !important;
    background-color: transparent;
    font-size: 12px;
    opacity: 0.5;
    margin: 12px 0 !important; 
    
   }
   .headerSwiper .swiper-pagination-vertical .swiper-pagination-bullet-active  {
     width: 10px;
     height: 4px;
     border-radius: 50px;
     position: relative;
     display: inline-block;
     background-color: transparent;
     margin: 10px 0 !important; 
     opacity: 1;
     font-weight: 900;
   }
   .headerSwiper .swiper-pagination-vertical .swiper-pagination-bullet-active::before  {
     content: "";
     position: absolute;
     display: inline-block;
     top: calc(50% - 3px);
     right: calc(100% + 3px);
     width: 20px;
     height: 3px;
     border-radius: 50px;
     background-color: white;
     margin: 8px 0 !important; 
   }
   .headerSwiper .swiper-pagination-vertical {
     transform: rotateY(180deg) !important;
   }

small, a{
    color: #111827
   }
  

@tailwind base;
@tailwind components;
@tailwind utilities;


